SUPABASE_URL=https://iqvajnhvrbvhqfstgezk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxdmFqbmh2cmJ2aHFmc3RnZXprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MTgxMzQsImV4cCI6MjA4ODI5NDEzNH0.8BpqLP3PsRv70vn8y76HKEmnTlb0rc2TdYWeKXuP8gU
